* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(65, 24, 0);
}

.profile-btn {
  background: orange;
  border: none;
  padding: 10px 22px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  position: relative;
}

.modal-content input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-content button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  background: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background: #555;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.orderBtn {
  display: none;
  width: 50%;
  margin: 0 auto;
  padding: 10px 70px;
  font-size: 25px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  border: none;
  border-radius: 50px;
  background-color: orange;
  position: sticky;
  z-index: 1000;
  bottom: 0%;
  top: 20%;
  cursor: pointer;
}

.orderBtn:hover {
  background-color: rgb(171, 113, 3);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
  margin: 0 auto;
  position: sticky;
  z-index: 1000;
  top: 0%;
  background-color: rgb(65, 24, 0);
}

.header-title {
  color: orange;
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
}

.navbar {
  display: flex;
  gap: 50px;
  align-items: center;
  font-weight: 700;
  margin-top: 10px;
}

.navbar-links {
  color: grey;
  font-weight: 500;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar-links:hover {
  color: red;
}

.navbar-links:active {
  color: rgba(255, 0, 0, 0.726);
}

.header_log-btn {
  padding: 10px 50px;
  background-color: orange;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.header_log-btn:hover {
  background-color: rgba(255, 166, 0, 0.71);
}

.header_log-btn:active {
  background-color: rgba(255, 166, 0, 0.616);
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: 60px;
  color: white;
  font-style: unset;
}

.hero-text {
  font-size: 20px;
  color: grey;
  margin-top: 20px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 40px;
}

.hero-btn1 {
  padding: 10px 70px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 50px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.hero-btn2 {
  padding: 10px 50px;
  background-color: rgb(65, 24, 0);
  color: white;
  border: 2px solid orange;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
}

.hero-img {
  width: 550px;
  height: 550px;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 50px;
  flex-direction: column;
}

.menu-title {
  color: white;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
}

.menu-categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.menu-categories-btns {
  cursor: pointer;
  padding: 10px 50px;
  background-color: inherit;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 15px;
  border-radius: 50px;
}

.menu-pizzas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

.menu-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.menu-cart-img {
  width: 200px;
  height: 200px;
}

.menu-cart-title {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: inherit;
  font-weight: 500;
}

.menu-cart-des {
  font-weight: 500;
  color: grey;
  margin-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.menu-cart-cost {
  display: flex;
  gap: 20px;
  color: whitesmoke;
  margin-top: 20px;
  align-items: center;
}

.mines {
  cursor: pointer;
  padding: 2px 10px;
  border: 1px solid orange;
  border-radius: 100px;
  background-color: inherit;
  color: white;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.plus {
  cursor: pointer;
  padding: 2px 10px;
  border: none;
  border-radius: 100px;
  background-color: orange;
  color: white;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.menu-cart-btn {
  font-size: 20px;
  padding: 10px 50px;
  margin-top: 20px;
  background-color: orange;
  border: none;
  color: white;
  font-weight: 500;
  font-family: sans-serif;
  font-style: initial;
  border-radius: 50px;
  cursor: pointer;
}

.p_pizza {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  flex-direction: column;
  margin-top: 100px;
}

.p_pizza h1 {
  font-size: 45px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

.p_pizza img {
  z-index: -1;
  margin-top: 20px;
}

.about-us {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  margin-top: 150px;
  align-items: center;
}

.about-us-title {
  font-size: 50px;
  margin-bottom: 20px;
}

.about-us-text {
  color: white;
  font-size: 20px;
  color: grey;
}

footer {
  display: flex;
  justify-content: center;
  padding: 50px;
  gap: 50px;
  background: linear-gradient(
    245.71deg,
    #170a00 4.96%,
    #170600 33.7%,
    #0f0700 68.41%,
    #170a00 96.42%
  );
}

.footer-top {
  display: flex;
  gap: 100px;
}

.footer-cart {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-cart h3 {
  color: whitesmoke;
  font-weight: 500;
}
.footer-cart-text {
  color: #515151;
}

.footer-bottom {
  display: flex;
  justify-content: center;
}

.footer-bottom-text {
  color: orange;
}
